.titleText {
    display: block;
    text-align: center;
}

.container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.car {
    border: 2px solid;
    border-color: black;
    width: 200px;
    display: inline-block;
    text-align: center;
}
